<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>

</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/admin :: header">Header element</div>

<!-- Page Content -->
<section class="pb-5">
    <div class="container">

        <div id="accordion">
            <div class="card bg-light border-dark">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 text-center">
                        <th:block th:unless="${categoryDto.id == null}">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <i class="fa fa-lg fa-plus" aria-hidden="true"></i> Редактировать категорию
                            </button>
                        </th:block>
                        <th:block th:if="${categoryDto.id == null}">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-lg fa-plus" aria-hidden="true"></i> Добавить категорию
                            </button>
                        </th:block>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" th:classappend="${categoryDto.id == null ? '' : 'show'}"
                     aria-labelledby="headingThree" data-parent="#accordion">

                    <div class="card-body">

                        <!-- New category form -->
                        <form th:action="${categoryDto.id} == null ? @{/admin/categories/create} : @{/admin/categories/edit}"
                              method="post" enctype="multipart/form-data" th:object="${categoryDto}">

                            <input name="id" type="hidden"  th:field="*{id}" th:value="${id}" />

                            <div class="form-group row justify-content-center">
                                <label for="name" class="col-sm-2 col-form-label">Наименование</label>
                                <div class="col-sm-4">
                                    <input type="text" id="name" class="form-control" th:classappend="${nameError == null ? '' : 'is-invalid'}"
                                           th:field="*{name}" th:value="${name}" />

                                    <th:block th:unless="${nameError == null}">
                                        <div class="invalid-feedback" th:text="${nameError}"></div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label th:for="isHidden" class="col-sm-2 col-form-label">Скрыт</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="isHidden" class="form-control" th:classappend="${isHiddenError == null ? '' : 'is-invalid'}"
                                           th:field="*{isHidden}" th:value="${isHidden}" />

                                    <th:block th:unless="${isHiddenError == null}">
                                        <div class="invalid-feedback" th:text="${isHiddenError}"></div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label th:for="image" class="col-sm-2 col-form-label">Изображение</label>
                                <div class="col-sm-4">
                                    <input type="file" name="file" id="image"/>
                                    <!--                                    <input type="file" enctype="multipart/form-data" id="image" class="form-control" th:classappend="${imageError == null ? '' : 'is-invalid'}" th:field="*{image}" />-->
                                    <th:block th:unless="${imageError == null}">
                                        <div class="invalid-feedback" th:text="${imageError}"></div>
                                    </th:block>
                                </div>
                            </div>

                            <div class="form-group row justify-content-center pt-3 mt-3">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                            </div>
                        </form>
                        <!-- End new category form -->

                    </div>
                </div>
            </div>
        </div>

        <div class="text-center pt-5">
            <div class="row">
                <div class="col">
                    <h6><i class="fas fa-cart-arrow-down"></i> Список категорий</h6>
                </div>
            </div>

            <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
        </div>


        <ul class="list-group list-group-flush" th:each="category : ${categories}">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        <!--                        <img th:src="@{/resources/images/Picture.png}" />-->
                        <img th:src="|data:image/jpeg;base64,${category.image.base64}|" style="width: 50px; height: 50px;"/>
                        <!--                        <b>Раздел:</b> <th:block th:text="${category.name}">text</th:block>-->
                    </div>
                    <div class="col-6">
                        <b>Раздел:</b> <th:block th:text="${category.name}">text</th:block>
                    </div>
                    <div class="col-2">
                        <b>Скрыт:</b> <th:block th:text="${category.isHidden} ? 'yes' : 'no'">text</th:block>
                    </div>
                    <div class="col-3">
                        <a href="#" th:href="@{/admin/categories/{id}/delete(id=${category.id})}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Удалить</a>
                        <a href="#" th:href="@{/admin/categories/{id}/edit(id=${category.id})}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Редактировать</a>
                    </div>
                </div>
            </li>
        </ul>

        <th:block th:unless="${categories.size() > 0}">
            <p class="font-weight-light text-center">Категории не добавлены!</p>
        </th:block>

    </div>
</section>

<div th:replace="fragments/admin :: footer" id="full">Footer element</div>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>