<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name: экономия твоего времени и денег!</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>

</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/admin :: header">Header element</div>

<!-- Page Content -->
<section class="main">
    <div class="container">

        <div class="row text-center">
            <div class="col-12">
                <h6><i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> Список отзывов</h6>
            </div>
            <div class="col-12">
                <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
            </div>
        </div>

        <div class="row">
            <th:block th:if="${listReviews.size() > 0}" th:each="message : ${listReviews}">
                <div class="col-12 mb-3">
                    <div class="card border-dark bg-white"> <!-- заменить -->
                        <div class="card-body">
                            <!--                            <p class="card-title">Магазин: 1A</p>-->
                            <p class="card-text" th:text="${message.getMessage()}">text</p>
                            <div class="row no-gutters" style="margin-bottom:-20px">
                                <div class="col-2 align-bottom">
                                    <span><th:block th:text="${message.getDate().toString()}">Some stars! </th:block></span>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary btn-sm">Удалить</button>
                                </div>
                                <div class="col-8 text-right">
                                    <p th:unless="${message.getAuthor()} == null" th:text="${message.getAuthor().getName()}">Александр</p>
                                    <p th:if="${message.getAuthor()} == null">Аноним</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
</section>

<div th:replace="fragments/admin :: footer">Footer element</div>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>