<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>

</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/admin :: header">Header element</div>

<!-- Page Content -->
<section class="pb-5">
    <div class="container">

        <th:block th:unless="${orderDto.id == null}">
            <div id="accordion">
                <div class="card bg-light border-dark">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <i class="fa fa-lg fa-plus" aria-hidden="true"></i> Редактировать заказ
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse show"
                         aria-labelledby="headingThree" data-parent="#accordion">

                        <div class="card-body">

                            <!-- New order form -->
                            <form th:action="@{/admin/orders/edit}"
                                  method="post" enctype="multipart/form-data" th:object="${orderDto}">

                                <input name="id" type="hidden"  th:field="*{id}" th:value="${id}" />

                                <input name="id" type="hidden"  th:field="*{userId}" th:value="${userId}" />

                                <div class="form-group row justify-content-center">
                                    <label for="address" class="col-sm-2 col-form-label">Адрес</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="address" class="form-control" th:classappend="${addressError == null ? '' : 'is-invalid'}"
                                               th:field="*{address}" th:value="${address}" />

                                        <th:block th:unless="${addressError == null}">
                                            <div class="invalid-feedback" th:text="${addressError}"></div>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label for="status" class="col-sm-2 col-form-label">Статус</label>
                                    <div class="col-sm-4">
                                        <select id="status" th:field="*{status}" th:classappend="${statusError == null ? '' : 'is-invalid'}">
                                            <option
                                                    th:each="status: ${statuses}"
                                                    th:value="${status}"
                                                    th:text="${status}" ></option>
                                        </select>

                                        <th:block th:unless="${statusError == null}">
                                            <div class="invalid-feedback" th:text="${statusError}"></div>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label for="itemId" class="col-sm-2 col-form-label">Товар</label>
                                    <div class="col-sm-4">
                                        <select id="itemId" th:field="*{itemId}" th:classappend="${itemIdError == null ? '' : 'is-invalid'}">
                                            <option
                                                    th:each="item: ${items}"
                                                    th:value="${item.id}"
                                                    th:text="${item.name}" ></option>
                                        </select>

                                        <th:block th:unless="${itemIdError == null}">
                                            <div class="invalid-feedback" th:text="${itemIdError}"></div>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center pt-3 mt-3">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>
                                </div>
                            </form>
                            <!-- End new order form -->

                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <div class="text-center pt-5">
            <div class="row">
                <div class="col">
                    <h6><i class="fas fa-cart-arrow-down"></i> Список последних заказов</h6>
                </div>
            </div>

            <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
        </div>


        <ul class="list-group list-group-flush" th:each="order : ${orders}">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        <b><th:block th:text="${order.id}">text</th:block></b>:
                    </div>
                    <div class="col-3">
                        <b>Клиент:</b> <th:block th:text="'(' +${order.userId.id}+ ')' +${order.userId.name}">text</th:block><br>
                        <b>Статус:</b> <th:block th:text="${order.status.status}">text</th:block>
                    </div>
                    <div class="col-3">
                        <b>Куплено:</b> <th:block th:text="${order.itemId.name}">text</th:block><br>
                        <b>Адрес:</b> <th:block th:text="${order.address}">text</th:block><br>
                    </div>
                    <div class="col-3">
                        <b>Создано:</b> <th:block th:text="${#temporals.format(order.created, 'dd-MM-yyyy HH:mm:ss')}">text</th:block><br>
                        <b>Обновлено:</b> <th:block th:text="${#temporals.format(order.updated, 'dd-MM-yyyy HH:mm:ss')}">text</th:block>
                    </div>
                    <div class="col-2">
                        <a href="#" th:href="@{/admin/orders/{id}/delete(id=${order.id})}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Удалить</a>
                        <a href="#" th:href="@{/admin/orders/{id}/edit(id=${order.id})}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Редактировать</a>
                    </div>
                </div>
            </li>
        </ul>

        <th:block th:unless="${orders.size() > 0}">
            <p class="font-weight-light text-center">Заказов нет!</p>
        </th:block>

        <div class="text-center pt-5">
            <div class="row">
                <div class="col">
                    <h6><i class="fas fa-cart-arrow-down"></i> Отправить сообщения</h6>
                </div>
            </div>

            <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
        </div>

        <!-- New order form -->
        <form th:action="@{/admin/orders/email}"
              method="post" enctype="multipart/form-data" th:object="${emailInformation}">

            <div class="form-group row justify-content-center">
                <label for="title" class="col-sm-2 col-form-label">Заголовок</label>
                <div class="col-sm-4">
                    <input type="text" id="title" class="form-control" th:classappend="${titleError == null ? '' : 'is-invalid'}"
                           th:field="*{title}" th:value="${title}" />

                    <th:block th:unless="${titleError == null}">
                        <div class="invalid-feedback" th:text="${titleError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="message" class="col-sm-2 col-form-label">Сообщение</label>
                <div class="col-sm-4">
                    <input type="text" id="message" class="form-control" th:classappend="${messageError == null ? '' : 'is-invalid'}"
                           th:field="*{message}" th:value="${message}" />

                    <th:block th:unless="${messageError == null}">
                        <div class="invalid-feedback" th:text="${messageError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="type" class="col-sm-2 col-form-label">Статус</label>
                <div class="col-sm-4">
                    <select id="type" th:field="*{type}" th:classappend="${typeError == null ? '' : 'is-invalid'}">
                        <option
                                th:each="type: ${types}"
                                th:value="${type}"
                                th:text="${type}" ></option>
                    </select>

                    <th:block th:unless="${typeError == null}">
                        <div class="invalid-feedback" th:text="${typeError}"></div>
                    </th:block>
                </div>
            </div>

            <div class="form-group row justify-content-center pt-3 mt-3">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
        <!-- End new order form -->

    </div>
</section>

<div th:replace="fragments/admin :: footer">Footer element</div>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>