<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>
</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/header :: row">Row element</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">

        <!-- Profile block start -->
        <div class="row text-center">
            <div class="col-12">
                <h6><i class="fa fa-lg fa-list" aria-hidden="true"></i> Профиль пользователя</h6>
            </div>
            <div class="col-12">
                <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
            </div>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <p class="text-center">Пользователь не найден! Необходимо провести <a href="#" th:href="@{/user/login}">авторизацию</a></p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <th:block th:object="${user}">
                <div class="form-group row justify-content-center">
                    <label for="name" class="col-sm-2 col-form-label">Имя</label>
                    <div class="col-sm-4">
                        <input id="name" class="form-control" th:classappend="${nameError == null ? '' : 'is-invalid'}"
                               th:attrappend="placeholder=${user.name}" th:field="*{name}" disabled/>
                        <th:block th:unless="${nameError == null}">
                            <div class="invalid-feedback" th:text="${nameError}"></div>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="surname" class="col-sm-2 col-form-label">Фамилия</label>
                    <div class="col-sm-4">
                        <input id="surname" class="form-control"
                               th:classappend="${surnameError == null ? '' : 'is-invalid'}"
                               th:attrappend="placeholder=${user.surname}" th:field="*{surname}" disabled/>
                        <th:block th:unless="${surnameError == null}">
                            <div class="invalid-feedback" th:text="${surnameError}"></div>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-4">
                        <input id="email" class="form-control"
                               th:classappend="${emailError == null ? '' : 'is-invalid'}"
                               th:attrappend="placeholder=${user.email}" th:field="*{email}" disabled/>
                        <th:block th:unless="${emailError == null}">
                            <div class="invalid-feedback" th:text="${emailError}"></div>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>

        <div class="row text-center pt-3 mt-3">
            <div class="col-12">
                <h6><i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> Список заказов</h6>
            </div>
            <div class="col-12">
                <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
            </div>
        </div>

        <ul class="list-group list-group-flush" th:each="order : ${orders}">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        <b><th:block th:text="${order.id}">text</th:block></b>
                    </div>
                    <div class="col-4">
                        <b>Куплено:</b> <th:block th:text="${order.itemId.name}">text</th:block><br>
                        <b>Адрес доставки:</b> <th:block th:text="${order.address}">text</th:block>
                    </div>
                    <div class="col-2">
                        <b>Статус:</b> <th:block th:text="${order.status.status}">text</th:block>
                    </div>
                    <div class="col-1">
                        <b>Цена:</b> <th:block th:text="${order.itemId.price}">text</th:block>
                    </div>
                    <div class="col-2">
                        <b>Создано:</b> <th:block th:text="${#temporals.format(order.created, 'dd-MM-yyyy HH:mm:ss')}">text</th:block>
                    </div>
                    <div class="col-2">
                        <b>Обновлено:</b> <th:block th:text="${#temporals.format(order.updated, 'dd-MM-yyyy HH:mm:ss')}">text</th:block>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Profile block end -->

    </div>
</section>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>