<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>
</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/header :: row">Row element</div>

<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">

        <!-- Register block start -->
        <div class="row">
            <div class="col"><h6><i class="fa fa-lg fa-plus" aria-hidden="true"></i> Регистрация</h6></div>
        </div>
        <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">

        <form th:action="@{/user/register}" method="post" th:object="${user}">

            <div class="form-group row justify-content-center">
                <label for="name" class="col-sm-2 col-form-label">Имя</label>
                <div class="col-sm-4">
                    <input id="name" class="form-control" th:classappend="${nameError == null ? '' : 'is-invalid'}" th:field="*{name}" />
                    <th:block th:unless="${nameError == null}">
                        <div class="invalid-feedback" th:text="${nameError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="surname" class="col-sm-2 col-form-label">Фамилия</label>
                <div class="col-sm-4">
                    <input id="surname" class="form-control" th:classappend="${surnameError == null ? '' : 'is-invalid'}" th:field="*{surname}" />
                    <th:block th:unless="${surnameError == null}">
                        <div class="invalid-feedback" th:text="${surnameError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="mobile" class="col-sm-2 col-form-label">Телефон</label>
                <div class="col-sm-4">
                    <input id="mobile" class="form-control" th:classappend="${mobileError == null ? '' : 'is-invalid'}" th:field="*{mobile}" />
                    <th:block th:unless="${mobileError == null}">
                        <div class="invalid-feedback" th:text="${mobileError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-4">
                    <input id="email" class="form-control" th:classappend="${emailError == null ? '' : 'is-invalid'}" th:field="*{email}" />
                    <th:block th:unless="${emailError == null}">
                        <div class="invalid-feedback" th:text="${emailError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                <div class="col-sm-4">
                    <input type="password" name="password" id="password" class="form-control" th:classappend="${passwordError == null ? '' : 'is-invalid'}" th:field="*{password}" />
                    <th:block th:unless="${passwordError == null}">
                        <div class="invalid-feedback" th:text="${passwordError}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="password2" class="col-sm-2 col-form-label">Повторите пароль</label>
                <div class="col-sm-4">
                    <input type="password" name="password2" id="password2" class="form-control" th:classappend="${password2Error == null ? '' : 'is-invalid'}" th:value="*{password2}" />
                    <th:block th:unless="${password2Error == null}">
                        <div class="invalid-feedback" th:text="${password2Error}"></div>
                    </th:block>
                </div>
            </div>
            <div class="form-group row justify-content-center pt-3 mt-3">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </div>
            </div>
        </form>
        <!-- Register block end -->

    </div>
</section>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>