<!-- Admin header -->
<div class="text-center" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <hr class="bg-dark mb-4 d-inline-block mx-auto w-75">
    <div class="row">
        <div class="col">
            <a class="text-dark" th:href="@{/admin}">
                <i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> Отзывы
            </a>
        </div>
        <div class="col">
            <a class="text-dark" th:href="@{/admin/shops}">
                <i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i> Магазины
            </a>
        </div>
        <div class="col">
            <a class="text-dark" th:href="@{/admin/users}">
                <i class="fa fa-lg fa-users" aria-hidden="true"></i> Пользователи
            </a>
        </div>
    </div>
    <hr class="bg-dark mt-4 d-inline-block mx-auto w-75">
</div>
<!-- Admin header -->

<!-- Admin footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50" th:fragment="footer"
        xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-12">
                <i class="fa fa-lg fa-lock" aria-hidden="true"></i> Админ панель
            </div>
        </div>
    </div>
</footer>
<!-- Admin footer -->