<!-- CSS -->
<th:block th:fragment="stylesheets" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
</th:block>
<!-- CSS -->

<!-- JS -->
<th:block th:fragment="javascript" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.slim.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/5.13.0/js/all.js}"></script>
</th:block>
<!-- JS -->