<footer id="sticky-footer" class="py-4 bg-dark text-white-50" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row text-left">
            <div class="col-12">
                <h6>Navigation</h6>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            </div>
        </div>
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-12">
                <a th:href="@{/}" class="text-muted"><i class="fa fa-envelope mr-3"></i>Reach us</a>
            </div>
        </div>
    </div>
</footer>