<!-- Navigation -->
<nav th:fragment="login" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">

        <div class="d-flex bd-highlight my-3">
            <div class="mr-auto p-2 bd-highlight">
                <a th:href="@{/}" class="text-dark">Главная</a>
            </div>
            <div class="mr-auto p-2 bd-highlight">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/admin}" class="text-dark">Админ панель</a>
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/profile}"><span sec:authentication="name">Dummy</span></a> |
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div sec:authorize="isAuthenticated()">
                    <a href="javascript: document.logoutForm.submit()" class="brand-logo right" role="menuitem">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;Выход
                    </a>
                    <form name="logoutForm" th:action="@{/user/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a href="/user/login" th:href="@{/user/login}">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;Логин
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>
<!-- Navigation -->

<!-- Search -->
<th:block th:fragment="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="bg-dark text-center py-5"> </div>
</th:block>
<!-- Search -->