
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  background: linear-gradient(to bottom, #FFFFFF, #C1C1C1);
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}