<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>
</head>

<body>

<div th:replace="fragments/header :: login">Header element</div>

<div th:replace="fragments/header :: row">Row element</div>

<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">

        <div class="row">
            <div class="col"><h6><i class="fa fa-lg fa-fire" aria-hidden="true"></i> Разделы</h6></div>
        </div>
        <hr class="bg-dark mb-4 mt-2 d-inline-block mx-auto w-50">

        <div class="row justify-content-md-center">

            <th:block th:each="category : ${categories}">
            <div class="col-sm-6 col-lg-4">
                <div class="border border-dark bg-white rounded mb-3">
                    <a th:href="@{${category.getLocalLink()}}">
                        <img th:src="@{${category.getImageUrl()}}" class="rounded my-3" th:alt="${category.getName()}"
                             style="height: 200px; width: 200px;" src="/attr"/>
                    </a>
                    <h6 th:text="${category.getName()} + ' (' + ${category.getItemCount()} + ')'">Ноутбуки</h6>
                </div>
            </div>
            </th:block>

        </div>
    </div>
</section>

<section class="main">
    <div class="container">

        <div class="text-center">
            <div class="row">
                <div class="col"><h6><i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> Последние товары</h6></div>
            </div>
            <hr class="bg-dark mb-4 mt-2 d-inline-block mx-auto w-50">
        </div>

        <div class="row">
            <div class="col-sm-6 mb-3" th:each="review : ${reviews}">
                <div class="card border-dark bg-white"> <!-- заменить -->
                    <div class="card-body">
                        <p class="card-title">Магазин: 1A</p>
                        <p class="card-text" th:text="${review.getMessage()}">Отзыв 1</p>
                        <div class="row no-gutters" style="margin-bottom:-20px">
                            <div class="col align-bottom">
                                <!--                                <div th:replace="fragments/stars :: temp">Temp stars element</div>-->
                            </div>
                            <div class="col text-right">
                                <p th:text="${review.getAuthor().getName()}">Александр</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer">Footer element</div>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>