<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>
</head>

<body>

<div th:replace="fragments/header :: login">Header element</div>

<div th:replace="fragments/header :: row">Row element</div>

<section class="py-5 text-center">
    <div class="container">

        <!-- Section block start -->
        <div class="row">
            <div class="col"><h6><i class="fa fa-lg fa-fire" aria-hidden="true"></i> Разделы</h6></div>
        </div>
        <hr class="bg-dark mb-4 mt-2 d-inline-block mx-auto w-50">

        <div class="row justify-content-md-center">

            <th:block th:each="category : ${categories}">
                <div class="col-sm-6 col-lg-4">
                    <div class="border border-dark bg-white rounded mb-3">
                        <a href="#" th:href="@{/category/{id}(id=${category.id})}">
                            <img th:src="|data:image/jpeg;base64,${category.image.base64}|" class="my-5"
                                 th:alt="${category.name}" style="width: 150px; height: 150px;"/>
                            <h6 th:text="${category.name}">text</h6>
                        </a>
                    </div>
                </div>
            </th:block>

        </div>
        <!-- Section block end -->

        <!-- Item block start -->
        <div class="text-center">
            <div class="row">
                <div class="col"><h6><i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> Последние товары</h6></div>
            </div>
            <hr class="bg-dark mb-4 mt-2 d-inline-block mx-auto w-50">
        </div>

        <div class="row justify-content-md-center">

            <th:block th:each="item : ${items}">
                <div class="col-sm-6 col-lg-4">
                    <div class="border border-dark bg-white rounded mb-3">
                        <a href="#" th:href="@{/item/{id}(id=${item.id})}">
                            <img th:src="|data:image/jpeg;base64,${item.image[0].base64}|" class="my-5"
                                 th:alt="${item.name}" style="width: 150px; height: 150px;"/>
                            <h6 th:text="${item.name}">text</h6>
                        </a>
                        <p class="text-danger mb-2" th:text="${item.price} + ' €'">123,45 €</p>
                    </div>
                </div>
            </th:block>

        </div>
        <!-- Item block end -->

    </div>
</section>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>