<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>
</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/header :: row">Row element</div>

<section class="py-5 text-center">
    <div class="container">

        <!-- Item block start -->
        <th:block th:unless="${item == null}">
        <div class="row">
            <div class="col"><h6><i class="fa fa-lg fa-comment" aria-hidden="true"></i> <th:block th:text="${item.name}">text</th:block></h6></div>
        </div>
        <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">

        <div class="row">
            <div class="col">
                <img th:src="|data:image/jpeg;base64,${item.image[0].base64}|" th:alt="${item.name}" style="width: 400px; height: 400px;"/>
            </div>
            <div class="col">
                <span class="text-dark">Категория: <th:block th:text="${item.categoryId.name}">name</th:block></span>
                <hr>
                <span class="text-dark">Гарантия: <th:block th:text="${item.warranty} + ' months'">name</th:block></span>
                <hr>
                <span class="text-dark">Описание: <th:block th:text="${item.description}">name</th:block></span>
                <hr>
                <span class="text-dark">Цена: <th:block th:text="${item.price} + ' Euro'">name</th:block></span>
                <br>
                <a href="#" th:href="@{/order/{id}(id=${item.id})}" class="btn btn-success btn-lg" role="button" aria-pressed="true">Купить</a>
            </div>
        </div>
        </th:block>
        <!-- Item block end -->

    </div>
</section>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>