<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>

    <style>
        .vl{
            border:none;
            border-left:5px solid hsla(200, 10%, 50%, 100);
            height:20px;
            margin-left:80px;
        }



    </style>
</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/header :: row">Row element</div>

<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">

        <!-- Order block start -->
        <div class="row">
            <div class="col"><h6><i class="fa fa-lg fa-plus" aria-hidden="true"></i> Заказ товара</h6></div>
        </div>
        <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">

        <div class="row">
            <th:block th:unless="${user.id == null}">
                <div class="col-6">
                    <span class="border border-dark">

                        <div class="border border-dark bg-white rounded mb-3">
                            <img th:src="|data:image/jpeg;base64,${item.image[0].base64}|" class="my-5" th:alt="${item.name}"
                                 style="width: 300px; height: 300px;"/>
                            <br>
                            <a href="#" th:href="@{/item/{id}(id=${item.id})}">
                                <span class="d-inline-block text-truncate" th:text="${item.name}" style="max-width: 200px;"> Item text</span>
                            </a>
                            <p class="text-danger mb-2" th:text="${item.price} + ' €'">123,45 €</p>
                        </div>

                    </span>
                </div>
                <div class="col-6">
                    <form th:action="@{/order/confirm}" method="post">

                        <input name="userId" type="hidden" th:value="${user.id}"/>

                        <input name="itemId" type="hidden" th:value="${item.id}"/>

                        <div class="form-group row justify-content-center">
                            <label for="address" class="col-sm-2 col-form-label">Адрес</label>
                            <div class="col-sm-4">
                                <input type="text" id="address" name="address" class="form-control"
                                       th:classappend="${addressError == null ? '' : 'is-invalid'}"
                                       th:value="${address}"/>

                                <th:block th:unless="${addressError == null}">
                                    <div class="invalid-feedback" th:text="${addressError}"></div>
                                </th:block>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center pt-3 mt-3">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Купить</button>
                            </div>
                        </div>

                    </form>
                </div>
            </th:block>
            <th:block th:if="${user.id == null}">
                <div class="col justify-content-center align-middle py-5 my-5">
                    <h6>Извините, для покупки товаров необходимо <a href="#" th:href="@{/profile/register}">зарегистрироваться</a>
                        или <a href="#" th:href="@{/profile/login}">авторизироваться</a>.</h6>
                </div>
            </th:block>
        </div>
        <!-- Order block end -->

    </div>
</section>

<div th:replace="fragments/external :: javascript">Javascript element</div>

</body>
</html>