<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dummy name: экономия твоего времени и денег!</title>

    <div th:replace="fragments/external :: stylesheets">Stylesheets element</div>

    <style>
        .spoiler {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .spoiler-toggle {
            font-weight: bold;
            cursor: default;
        }
    </style>
</head>

<body>

<div th:replace="fragments/header :: login">Login element</div>

<div th:replace="fragments/header :: search">Search element</div>

<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-light">
                    <h6><i class="fa fa-lg fa-search" aria-hidden="true"></i>
                        <th:block th:text="'Результаты поиска (' +${resultsAmount} + ')'">Результаты поиска (123)
                        </th:block>
                    </h6>
                </button>
            </div>
            <div class="col">
                <div class="spoiler-toggle">
                    <button type="button" class="btn btn-dark">
                        <h6><i class="fa fa-lg fa-filter" aria-hidden="true"></i> Открыть меню фильтров</h6>
                    </button>
                </div>
            </div>
            <div class="col">
                <div th:if="${resultsSection == 'all'}">
                    <button type="button" class="btn btn-dark">
                        <h6><i class="fa fa-lg fa-check-square" aria-hidden="true"></i> Выберите раздел для сравнения!</h6>
                    </button>
                </div>
                <div th:unless="${resultsSection == 'all'}">
                    <form th:action="@{/compare}" method="post">
                        <button type="submit" class="btn btn-dark" onclick="clickCheck()">
                            <h6><i class="fa fa-lg fa-check-square" aria-hidden="true"></i> Сравнить товары (макс. 3)</h6>
                        </button>
                    </form>
                </div>

            </div>
        </div>
        <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">

        <input type="hidden" id="yourSection" th:value="${resultsSection}"/>

        <div class="spoiler" style="display: none;">
            <div class="row justify-content-md-center">
                <div class="col-8">
<!--                    <form th:action="@{/search}" method="post">-->
<!--                        <th:block th:each="filter : ${filters}">-->
<!--                            <b th:text="${filter.getName()}">Filter field</b>-->
<!--                            <th:block th:each="field : ${filter.getOptions()}">-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="radio" name="exampleRadios"-->
<!--                                           id="exampleRadios2" value="option2">-->
<!--                                    <label class="form-check-label" for="exampleRadios2" th:text="${field}">-->
<!--                                        Default radio-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </th:block>-->
<!--                        </th:block>-->
<!--                        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>-->
<!--                    </form>-->

                    <form th:action="@{/search}" method="post">

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label for="priceFrom">Цена от</label>
                                <input type="text" class="form-control" id="priceFrom" placeholder="0">
                            </div>
                            <div class="form-group col-3">
                                <label for="priceFrom">Цена до</label>
                                <input type="text" class="form-control" id="priceFrom2" placeholder="0">
                            </div>
                            <div class="form-group col-3">
                                <label for="sorting">Сортировка</label>
                                <select id="sorting" class="form-control">
                                    <option selected>Дешевые вначале</option>
                                    <option>Дорогие вначале</option>
                                </select>
                            </div>

                        </div>

                        <button type="button" class="btn btn-link" onclick="this.form.reset();">Очистить</button>
                        <button type="submit" class="btn btn-primary">Фильтр</button>
                    </form>

                </div>
            </div>
            <hr class="bg-dark mb-4 mt-4 d-inline-block mx-auto w-50">
        </div>

        <div th:if="${itemPage.totalPages > 0}" class="pagination">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Выбор страницы</a></li>
                <th:block th:each="pageNumber : ${pageNumbers}">
                    <li th:if="${pageNumber == null}" class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li th:unless="${pageNumber == null}" class="page-item"
                        th:classappend="${pageNumber==itemPage.number} ? disabled">
                        <div th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
                            <a class="page-link" th:text="${pageNumber}" th:href="@{${currentUrl}(page=${pageNumber})}">1</a>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="row justify-content-md-center">

            <!-- start -->
            <th:block th:each="product : ${itemPage}">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="border border-dark bg-white rounded mb-3">
                        <div class="row align-items-baseline">
                            <div class="col"><a href="/reviews" th:text="${product.getShopName()}">1A</a></div>
                            <div class="col">
                                <!--<div th:replace="fragments/stars :: temp">Temp stars element</div>-->
                            </div>
                        </div>
                        <img th:src="@{${product.getImageUrl()}}" style="height: 150px; width: 200px;"
                             class="rounded my-3" src="/attr"/>
                        <a th:href="@{${product.getItemUrl()}}">
                            <span class="d-inline-block text-truncate" th:text="${product.getName()}"
                                  style="max-width: 200px;"> Item text</span>
                        </a>
                        <p class="text-danger mb-2" th:text="${product.getPrice()} + ' €'">123,45 €</p>
                        <p class="text-muted">
                            <label th:if="${resultsSection != 'all'}">
                            <input type="checkbox" class="check"
                                          th:attrappend="onchange='set_check(&quot;'+${resultsSection}+${product.getItemCode()}+'&quot;);'"
                                          th:id="${resultsSection}+${product.getItemCode()}"/> Добавить в сравнение</label>
                        </p>
                    </div>
                </div>
            </th:block>
            <!-- end -->

        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer">Footer element</div>

<div th:replace="fragments/external :: javascript">Javascript element</div>

<script>
    var sectionCounter = 0;
    var max = 3;

    $(function () {
        $('.spoiler-toggle').click(function () {
            $('.spoiler').animate({height: 'toggle'});
        });
    });

    $.get("http://localhost:8080/api/items/names", function (data) {
        console.log(data);
        // use a data source with 'id' and 'name' keys
        $("#query").typeahead({source: data});
    }, 'json');

    function clickCheck() {
        if (sectionCounter < 2) {
            alert("Выберите хотя бы два товара для сравнения!");
            return false;
        }
    }

    function setCookie(c_name, value, expiredays) {
        if (value === 1) {
            sectionCounter++;
        } else if (value === 0) {
            sectionCounter--;
        }

        if (sectionCounter > max) {
            sectionCounter--;
            document.getElementById(c_name).checked = 0;
            alert("Максимум допустимы 3 товара для сравнения!");
            return false;
        }

        var exdate = new Date()
        exdate.setDate(exdate.getDate() + expiredays)
        document.cookie = c_name + "=" + escape(value) + ((expiredays == null) ? "" : ";expires=" + exdate)
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return null
    }

    onload = function () {

        var section = $("#yourSection").val();
        var allcookies = document.cookie;
        setCookie("currentSection", section, 100);

        // Get all the cookies pairs in an array
        cookiearray = allcookies.split(';');
        resultArray = new Array(3);

        for (var i = 0; i < cookiearray.length; i++) {
            element = cookiearray[i].split('=')[0].replace(' ', '');
            elementsByClass = document.getElementsByClassName("check");
            for (var k = 0; k < elementsByClass.length; k++) {
                resultId = elementsByClass.item(k).id;
                if (element.startsWith(section)) {
                    if (resultId === element) {
                        resultArray.push(element);
                    }
                }
            }
        }

        for (var x = 0; x < cookiearray.length; x++) {
            elementTemp = cookiearray[x].split('=')[0].replace(' ', '');
            valueTemp = cookiearray[x].split('=')[1];
            if (elementTemp.startsWith(section) && valueTemp == 1) {
                sectionCounter++;
            }
        }

        for (var ii=0; ii < resultArray.length; ii++) {
            var elem = resultArray.pop();
            if (elem !== undefined) {
                document.getElementById(elem).checked = getCookie(elem) == 1 ? true : false;
            }
        }
    }

    function set_check(requestedValue) {
        setCookie(requestedValue, document.getElementById(requestedValue).checked ? 1 : 0, 100);
    }
</script>

</body>
</html>